node_modules
# Keep environment variables out of version control
.env

/generated/prisma

/generated/prisma

# Игнорировать всё в uploads
uploads/*
temp/*

# Но не игнорировать саму папку и .gitkeep
!uploads/
!uploads/.gitkeep

!temp/
!temp/.gitkeep